li {
    padding: 10px;
    list-style: none;
}

ul {
    text-align: left;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    margin-top: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.error-string {
    color: red;
}

.result {
    margin-top: 80px;
}

.invisible {
    visibility: hidden;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

#mp-card {
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 400px;
    background-color: #d5dae2;
    border-radius: 5px;
}

.mp-photo {
    height: 320px;
    width: auto;
}

.column-2 {
    flex: 50%;
    object-fit: contain;
}

.search-button {
    background-color: #d5dae2;
    color: #222;
    border: none;
    text-decoration: none;
    padding: 12px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}

.search-button:hover {
    background-color: #bac8e0;
    cursor: pointer;
}

.search-box {
    width: 100px;
    height: 38px;
    font-size: 24px;
}